body{
    background-color: rgb(234, 229, 229);
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    
}
.diceroller{
    align-items: center;
    margin: auto;
    justify-content: center;
    background: linear-gradient(180deg, hsl(26, 75%, 38%), rgb(45, 93, 234));
    padding: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color: aliceblue;
    width: 100%;
}
#numOfDice{
    width: 70px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}
button{
    background-color: rgb(68, 255, 47);
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    padding: 5px;
}
#diceimages img{
    margin-right: 10px;
    height: 70px;
    margin-top: 20px;
    border-radius: 10px;
    
}
button:hover{
    background-color: rgb(53, 223, 34);
}
button:active{
    background-color: rgb(31, 199, 12);
}